html
  body
    div
      h1 Welcome #{params.user}

      h2 Your Saved Recipes:
      div
        table 
          thead
            tr
              th Recipe
              th Preview
          tbody
            each rec in params.recs
              if rec.title
                tr
                  td #[a(href='/recipe/'+rec._id) #{rec.title}]
                  td #{rec.directions}